html{
    font-family:'source sans pro' sans-serif ;
    font-style: normal;
    font-size:16px;
    color:#5a5150 ;
    line-height: 1,8;
}
body{
    background-color: #cccccc;
}

.wrapper{
    background-color: white;
    margin: 0 auto;
    max-width: 1795px;
}

header{
    height: 90px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 8px rgb(0 0 0 /6%);
    margin-bottom: 10px;
}

.logo{
    margin-left: 90px ;
}

ul.main-menu{
    list-style: none;
    color: #4e4b4b;
}

ul.socials{
    list-style: none;
    color: #4e4b4b;
}

li.menu-item{
    display: inline-block;
    padding-right:15px ;
}

li.menu-item a{
    color: #4e4b4b;
}

ul.socials{
    list-style: none;
    color: #4e4b4b;
}

li.social-item{
    display: inline-block;
    padding-right: 15px;
}
li.social-item a{
    color: #4e4b4b;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'karla' ,sans-serif;
    font-style: normal;
    color: #5a5150;
}

h2{
    font-size: 40px;
    line-height: 1,2;

}

h3{ 
    font-size:16px;
    line-height:1,4;    
}

h4{ 
    font-family: 'karla' ,sans-serif;
    font-style: normal;
    color: #919291;
    line-height:1,4;
}

.hyperlink{
font-family: 'karla';
font-size: 14px;
color:#ca404f;
line-height:1,4;
}
.hyperlink{
    font-family: 'karla' bold;
    font-size: 16;
    color:white;
    line-height:42px;
    background-color: #ca404f;
}
a{
    font-family: 'karla', sans-serif;
    font-size: 14px;
    color: #ca404f;
    line-height: 1,4;
    text-decoration: none;
}

main{ 
    padding: 0 60px 0 60px;
}

.recepten{
width: 100%;
display: flex;
flex-direction: row;
}

.recept{
    width: 1040px;

}
.recept-items{
    width: 485;
}